
.home-banner-content h1{
    font-weight: var(--fw-text);
}

.home-banner-content p{
    font-weight: var(--fw-text);
}

.home-banner-content .signup-btn{
    font-weight: var(--fw-title);
}

.img-fluid{
    cursor: pointer;
    transition: .5s ease;
}

.img-fluid:hover{
    transform: scale(1.1);

}
.signup-btn:hover{
    background: rgb(22, 35, 187) !important;
}