
.single-feature{
    /* background: url('/src/assets/undraw_dreamer_re_9tua.svg') no-repeat center center; */
    color: var(--primary-color);
    transition: .5s ease-in;
    cursor: pointer;
}

.single-feature:hover{
    background: var(--primary-color);
    color: var(--text-color);
    transform: scale(.9);
}

.single-feature .icon{
    font-size: 4rem;
}

.single-feature p{
    font-size: .8rem;
    font-weight: var(--fw-text);
}

/* .feature-container{
    padding: 2rem;
} */