
.home-about-left img{
    cursor: pointer;
    transition: .5s ease;
}

.home-about-left img:hover{
    transform: scale(1.1);
}

.about-area h1{
    font-weight: var(--fw-text);
}

.about-area p{
    font-weight: var(--fw-text);
}