/* .card-section{

} */

.card-area{
  padding: 1rem 1rem;
  border-radius: .5rem;
  background: rgb(131, 199, 183);
  cursor: pointer;
  transition: 1s ease-in-out;
  margin-right: 2rem;
}

.card-area:hover{
  background: var(--primary-color);
  color: var(--text-color);
}

.card-icon {
  background: var(--primary-color);
  color: var(--text-color);
  padding: 15px;
  border-radius: 100%;
}

.card-icon i {
  font-size: 2rem;
}
/* .card-desc {
  padding: 0 1rem;
} */