:root{
  --primary-color: #020272;
  --text-color: rgba(255, 255, 255, 0.882);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background: rgba(231, 231, 231, 0.342);
}

a{
  text-decoration: none;
  color: white;
}



