#loginModal .form-group{
    padding-bottom: 1rem;
}
#forgetPassword .form-group{
    padding-bottom: 1rem;
}

.col-12{
    padding-bottom: .5rem;
}

label{
    font-size: 12px;
    font-weight: var(--fw-text);
}

input::placeholder{
    padding: 1rem 0;
    font-size: 12px;
    font-weight: var(--fw-text);
}

.toggle__btn{
    top: 1.5rem;
    right: 1.2rem;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--primary-color);
}